<form [formGroup]="form">
  <mat-dialog-content>
    <h2>#{{ data.serialNumber }}</h2>

    <!-- serial number disabled -->
    <mat-form-field appearance="outline">
      <mat-label>Σειρά Αριθμός</mat-label>
      <input matInput formControlName="serialNumber" />
    </mat-form-field>

    <!-- plate disabled -->
    <mat-form-field appearance="outline">
      <mat-label>Πινακίδα</mat-label>
      <input matInput formControlName="plate" />
    </mat-form-field>

    <!-- fullName -->
    <mat-form-field>
      <mat-label>Οδηγός</mat-label>
      <mat-select formControlName="fullName">
        @for(driver of drivers(); track driver.id){
        <mat-option [value]="driver.fullName">{{ driver.fullName }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- issueDate -->
    <mat-form-field>
      <mat-label>Ημερομηνία Έναρξης</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="issueDate" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- isApproved -->
    <mat-form-field>
      <mat-label>Κατάσταση</mat-label>
      <mat-select formControlName="isApproved">
        @for(option of statusOptions; track option){
        <mat-option [value]="option">{{ option | approved }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- tier amount -->
    <mat-form-field>
      <mat-label>Κλίμακα επιβράβευσης</mat-label>
      <input matInput formControlName="tierAmount" />
      @if(form.get('tierAmount')?.hasError){
      <mat-error> Συντελεστής: (0.01 - 1.00)</mat-error>
      }
    </mat-form-field>

    <!-- registration amount -->
    <mat-form-field>
      <mat-label>Ποσό καταχώρησης</mat-label>
      <input matInput formControlName="registrationAmount" />
    </mat-form-field>

    <!-- consumption amount -->
    <mat-form-field>
      <mat-label>Ποσότητα κατανάλωσης</mat-label>
      <input matInput formControlName="consumptionAmount" />
    </mat-form-field>

    <!-- reward amount -->
    <!-- <mat-form-field>
      <mat-label>Ποσό επιβράβευσης</mat-label>
      <input matInput formControlName="rewardAmount" />
    </mat-form-field> -->
  </mat-dialog-content>

  <!-- dialog buttons -->
  <mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onCancel()">Ακύρωση</button>
    <button
      mat-raised-button
      color="accent"
      [mat-dialog-close]="form.getRawValue()"
    >
      Καταχώρηση αλλαγών
    </button>
  </mat-dialog-actions>
</form>
