form {
  padding: 2em;
  background-color: hsl(0, 0%, 90%);
}

h2 {
  margin-bottom: 1em;
}

mat-form-field {
  margin-right: 0.5em;
}

mat-dialog-actions {
  width: 95%;
}

mat-form-field {
  width: 210px;
  margin-top: 1em;
}
