#plate-search {
  margin-bottom: 1em;
  padding: 2em;
}

mat-form-field {
  margin-top: 2em;
  width: 100%;
}

mat-label {
  display: flex;
  align-items: center;
  gap: 2em;
}

#vehicles {
  padding: 1em;
}

.active-vehicles {
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: left;
}

.btn-bar {
  display: flex;
  justify-content: space-around;
}
