#plate-search {
  border-bottom: 2px solid lightgray;
  margin-bottom: 1em;
  padding: 2em;
}

input {
  margin-top: 1em;
}

#vehicles {
  padding: 1em;
}

.active-vehicles {
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: left;
}
