<section class="container">
  <section id="plate-search">
    <section class="active-vehicles">
      <app-truck-icon />
      <h2>Ενεργά Οχήματα</h2>
    </section>

    <section class="plate-input">
      <app-magnifier-icon />
      <mat-form-field appearance="outline">
        <mat-label>Αναζήτηση πινακίδας</mat-label>
        <input
          matInput
          [(ngModel)]="enteredPlate"
          (blur)="handleEnteredPlate()"
        />
      </mat-form-field>
    </section>
  </section>

  <mat-nav-list>
    @for(vehicle of vehicles; track vehicle.id){
    <mat-list-item>
      <app-vehicle [plate]="vehicle.plate" />
    </mat-list-item>
    }@empty {
    <h3>There are no vehicles to display</h3>
    }
  </mat-nav-list>
</section>
