<section class="container">
  <section id="plate-search">
    <section class="active-vehicles">
      <app-truck-icon />
      <h2>Ενεργά Οχήματα</h2>
    </section>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <app-input label="Αριθμός πινακίδας" formControlName="enteredPlate">
        <mat-icon>search</mat-icon>
      </app-input>

      <section class="btn-bar">
        <a
          mat-raised-button
          type="button"
          [routerLink]="['/records']"
          (click)="onCancel()"
          >Ακύρωση</a
        >
        <button
          mat-raised-button
          type="submit"
          [routerLink]="['/records', form.value.enteredPlate]"
        >
          Αναζήτηση
        </button>
      </section>
    </form>
  </section>

  <mat-divider></mat-divider>

  @if(isLoading$ | async){
  <app-progress-spinner diameter="50" />
  }

  <mat-nav-list>
    @for(vehicle of vehicles; track vehicle.id){
    <mat-list-item>
      <app-vehicle [plate]="vehicle.plate" />
    </mat-list-item>
    }
  </mat-nav-list>
</section>
