<ul id="record">
  <li class="right">{{ record.serialNumber }}</li>
  <li class="left">{{ record.fullName }}</li>
  <li class="middle">{{ formatedIssueDate | date : "dd/MM/YYYY" }}</li>
  <li
    [class]="{
      right: true,
      isApproved: record.isApproved === true,
      notApproved: record.isApproved === false
    }"
  >
    @if(record.isApproved){ Εγκεκριμένο }@else { Ακυρωμένο }
  </li>
  <li class="tier middle">{{ record.tierAmount | number : "1.2" }}</li>
  <li class="right">
    {{ record.registrationAmount | euro }}
  </li>
  <li class="right">{{ record.consumptionAmount | unit : "kg" }}</li>
  <li class="right">{{ record.rewardAmount | euro }}</li>
</ul>
