<ul id="pagination">
  <li>Καταχωρήσεις ανα σελίδα:</li>
  <li>
    <form [formGroup]="form" (change)="onSetBatchSize()">
      <select formControlName="batchSize">
        @for(size of batchSizes; track size){
        <option [value]="size">{{ size }}</option>
        }
      </select>
    </form>
  </li>
  <li *ngIf="totalPages$ | async as totalPages">
    {{ batchSize * currentBatch - batchSize + 1 }} - @if(batchSize *
    currentBatch > totalPages){
    <span>{{ totalPages }}</span>
    }@else {
    <span>{{ batchSize * currentBatch }}</span>
    } από
    {{ totalPages }}
  </li>
  <li class="move-btn" (click)="onStart()">|<</li>
  <li class="move-btn" (click)="onPrevious()"><</li>
  <li class="move-btn" (click)="onNext()">></li>
  <li class="move-btn" (click)="onEnd()">>|</li>
</ul>
