#pagination {
  background-color: beige;
  height: 3em;
  border-top: 1px solid lightgray;
  padding: 2em;
  display: flex;
  gap: 2em;
  justify-content: right;
  align-items: center;
}

.move-btn {
  padding: 1em;

  &:hover {
    cursor: pointer;
  }
}
