<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset>
    <mat-form-field appearance="fill">
      <mat-label class="serial-number-label">
        <app-magnifier-icon />
        <span>Σειρά Αριθμός</span>
      </mat-label>
      <input
        matInput
        id="serial-number"
        name="serial-number"
        type="text"
        formControlName="serialNumber"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Οδηγός</mat-label>
      <mat-select formControlName="driver">
        <mat-option [value]="0">Όλοι</mat-option>
        @for(driver of driversDropDown; track driver.id){
        <mat-option [value]="driver.id">{{ driver.fullName }}</mat-option>
        }@empty {<span>The driver's list is empty</span>}
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Hμερομηνία</mat-label>
      <mat-date-range-input formGroupName="dateRange" [rangePicker]="picker">
        <input
          matStartDate
          id="start-date"
          name="start-date"
          placeholder="Από"
          formControlName="start"
        />
        <input
          matEndDate
          id="end-date"
          name="end-date"
          placeholder="Έως"
          formControlName="end"
        />
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      @if(form.controls.dateRange.controls.start.hasError('matStartDateInvalid')){
      <mat-error>Λανθασμένη ημερομηνία έναρξης</mat-error>
      } @if(form.controls.dateRange.controls.end.hasError('matEndDateInvalid')){
      <mat-error>Λανθασμένη ημερομηνία λήξης</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Κατάσταση</mat-label>
      <mat-select formControlName="isApproved">
        @for(status of approvedDropDown; track status.id){
        <mat-option [value]="status.id">{{ status.options }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button mat-raised-button type="submit">Αναζήτηση</button>
    <button mat-raised-button type="button" (click)="onClearFilter()">
      Ακύρωση
    </button>
  </fieldset>
</form>
