<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset>
    <app-input label="Σειρά Αριθμός" type="text" formControlName="serialNumber">
      <mat-icon>search</mat-icon>
    </app-input>

    <mat-form-field appearance="fill">
      <mat-label>Οδηγός</mat-label>
      <mat-select formControlName="driver">
        @for(driver of driversDropDown; track driver.id){
        <mat-option [value]="driver.id">{{ driver.fullName }}</mat-option>
        }@empty {<span>The driver's list is empty</span>}
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Hμερομηνία</mat-label>
      <mat-date-range-input formGroupName="dateRange" [rangePicker]="picker">
        <input
          matStartDate
          id="start-date"
          name="start-date"
          placeholder="Από"
          formControlName="start"
        />
        <input
          matEndDate
          id="end-date"
          name="end-date"
          placeholder="Έως"
          formControlName="end"
        />
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      @if(form.controls.dateRange.controls.start.hasError('matStartDateInvalid')){
      <mat-error>Λανθασμένη ημερομηνία έναρξης</mat-error>
      } @if(form.controls.dateRange.controls.end.hasError('matEndDateInvalid')){
      <mat-error>Λανθασμένη ημερομηνία λήξης</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Κατάσταση</mat-label>
      <mat-select formControlName="isApproved">
        @for(option of statusOptions; track option){
        <mat-option [value]="option">{{ option | approved }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Αναζήτηση</button>
    <a
      mat-raised-button
      color="warn"
      type="button"
      (click)="onClearFilter()"
      [routerLink]="['/records']"
    >
      Ακύρωση
    </a>
  </fieldset>
</form>
