img,
picture,
video,
canvas,
svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

li {
  list-style: none;
  text-indent: 0;
}

// p,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   overflow-wrap: break-word;
// }

// .light {
//   color-scheme: light;
// }

// .dark {
//   color-scheme: dark;
// }
